
   
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/random" alt="Book cover image">
            <div class="card-body">
              <h3 class="card-title"><%= data.title%></h3>
              <h4 class="card-title">By: <%= data.author%></h4>
              <p class="card-text">Year: <%= data.year%></p>
              <p class="card-text">Price: <%= data.price%> euros</p>
              <p class="card-text">ID: <%= data._id%></p>
            </div>
          </div>
        <div class="d-flex justify-content-between">
            <form action="/orders/addOrder" method="GET">
                <button class="btn btn-primary" >Make Order</button>
            </form>
            <form action="/books/updateBook/<%= data._id%>" method="GET">
                <button class="btn btn-success" >Update</button>
            </form>
            <button class="btn btn-danger" onclick="del(event)">Delete</button>
            <form action="/books" method="GET">
                <button class="btn btn-warning">Back to Books</button>
            </form>
        </div>
        
        <script>
    function del(e){
        e.preventDefault()
        let url = "/books/<%=data._id%>"
        console.log(url)
        fetch(url, {
            method: 'delete',
            headers: {'Content-Type': 'application/json'}
        }).then(data => {
            data.json().then( m => {
                if(m.status){
                console.log("success")
                window.location.replace('/books/')
                }else{
                    console.log("Failed")
                }
            })
        })
    }
        </script> 
