<h1>Update <%= book.title%></h1>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/books/updateBook/<%=book._id%>" id="editForm">
            <div class="form-group col-md-12">
                <label for="exampleInputPassword1">Author</label>
                <input class="form-control" type="text" value="<%= book.author%>" name="author" placeholder="Author" />
            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputPassword1">Title</label>
                <input class="form-control" type="text" value="<%= book.title%>" name="title" placeholder="Title" />
            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputPassword1">Year</label>
                <input class="form-control" type="text" value="<%= book.year%>" name="year" placeholder="Year" />
            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputPassword1">Price</label>
                <input class="form-control" type="text" value="<%= book.price%>" name="price" placeholder="Price" />
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-sm btn-primary">Update</button>
            </div>
            
        </form>
    </div>
</div>


<hr>
    <a href="/books" class="btn btn-sm btn-success">Back To Books</a>


    <div id="messageModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modalHeader">
                <h5 class="modal-title " id="modalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>


    <script>
        $('#editForm').on('submit', (e)=>{
            e.preventDefault()
            console.log(e.target)
            $.ajax({
                url: $(e.target).attr('action'),
                method: $(e.target).attr('method'),
                data: $(e.target).serialize(),
                success: response=>{
                    if(response.success){
                        $("#modalHeader").addClass("bg-success").removeClass("bg-danger")
                        $("#modalTitle").html("").html("Success")
                        $("#modalBody").html("").html(`Update Book "<%= book.title%>" Success.`)
                        $("#messageModal").modal("show")
                    }else{// we got replay from server but the process not don
                        $("#modalHeader").removeClass("bg-success").addClass("bg-danger")
                        $("#modalTitle").html("").html("Error").removeClass("bg-success").addClass("bg-danger")
                        $("#modalBody").html("").html(`Update Book "<%= book.title%>" Not Success.<br/> ${response.error}`)
                        $("#messageModal").modal("show")
                    }
                    console.log(response)
                    
                },
                error: error=>{
                    $("#modalHeader").removeClass("bg-success").addClass("bg-danger")
                        $("#modalTitle").html("").html("Error").removeClass("bg-success").addClass("bg-danger")
                        $("#modalBody").html("").html(`internal server error`)
                        $("#messageModal").modal("show")
                    console.log(error)
                    
                }
            })
        })

    </script>

    