
    <h1>Update Order</h1>


    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/orders/updateOrder/<%= data._id%>" id="editForm">
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">Book Id</label>
                    <input class="form-control" type="text" value="<%= data.bookId %>" name="bookId" placeholder="Book Id" />
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">Quantity</label>
                    <input class="form-control" type="text" value="<%= data.qty%>" name="qty" placeholder="Quantity" />
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">Books</label>
                    <input class="form-control" type="text"  name="books" placeholder="Books" />
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                
            </form>
            <form action="/orders" method="GET">
                <button class="btn btn-warning">Back to Orders</button>
            </form>
            <p>Id: <%= data._id%></p>
        </div>
    </div>
    <% if (data.books) { %>
        <% data.books.forEach(function(book){ %>
            <p> BOOKS: <%= book %></p>
    
        <% }) %>
            <% } %>
    
    
    <hr>
        
    
    
       