





    <div class="d-flex flex-column align-items-center">
        <div class="row">
            <p>Order Id: <%= data._id%></p>
            <div class="col-md-6">
                <form method="POST" action="/orders/updateOrder/<%= data._id%>" id="editForm">
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Book Id</label>
                        <input class="form-control" type="text" value="<%= data.bookId%>" name="bookId" placeholder="Book Id" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Quantity</label>
                        <input class="form-control" type="text" value="<%= data.qty%>" name="qty" placeholder="Quantity" />
                    </div>
                    <p>Books input is used for adding books id which will be referenced in database and populated on route "orders/check/:id"</p>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Books</label>
                        <input class="form-control" type="text"  name="books" placeholder="Books" />
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary mt-5">Update</button>
                    </div>
        
                </form>
                <form action="/orders" method="GET">
                    <button class="btn btn-warning mt-5">Back to Orders</button>
                </form>
        
            </div>
            <div class="d-flex flex-column  justify-content-center">
            <form action="/orders/check/<%= data._id%>" method="GET">
                <button class="btn btn-info">Check referenced and populated</button>
            </form>
            <% if (data.books) { %>
                <% data.books.forEach(function(book){ %>
                    <p> BOOKS: <%= book %></p>
            
                <% }) %>
                    <% } %>
        </div>
    </div>
        </div>
        

    
    

    
    
        <div id="messageModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="modalHeader">
                    <h5 class="modal-title " id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    
    
        <script>
            $('#editForm').on('submit', (e)=>{
                e.preventDefault()
                console.log(e.target)
                $.ajax({
                    url: $(e.target).attr('action'),
                    method: $(e.target).attr('method'),
                    data: $(e.target).serialize(),
                    success: response=>{
                        if(response.success){
                            $("#modalHeader").addClass("bg-success").removeClass("bg-danger")
                            $("#modalTitle").html("").html("Success")
                            $("#modalBody").html("").html(`Update Order Success.`)
                            $("#messageModal").modal("show")
                        }else{// we got replay from server but the process not don
                            $("#modalHeader").removeClass("bg-success").addClass("bg-danger")
                            $("#modalTitle").html("").html("Error").removeClass("bg-success").addClass("bg-danger")
                            $("#modalBody").html("").html(`Update Not Success.<br/> ${response.error}`)
                            $("#messageModal").modal("show")
                        }
                        console.log(response)
                        
                    },
                    error: error=>{
                        $("#modalHeader").removeClass("bg-success").addClass("bg-danger")
                            $("#modalTitle").html("").html("Error").removeClass("bg-success").addClass("bg-danger")
                            $("#modalBody").html("").html(`internal server error`)
                            $("#messageModal").modal("show")
                        console.log(error)
                        
                    }
                })
            })
    
        </script>
    
        